
.container {
    height: calc(100vh - 90px - 64px);
}

.container .card {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-rows: 50px 1fr;
    height: calc(100%);
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    border-radius: 1rem;
}

.container .card #title {
    grid-row: 1;
    font-size: 50px;
    font-weight: bold;
}

.container .card .form {
    grid-row: 2;
    height: calc(100% - 80px);
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.container .card .form .card-content {
    width: 100%;
    height: calc(80%);
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .card .form .card-content .input-class {
    margin: 1rem 0;
    font-size: 20px;
    display: grid;
    grid-template-columns: 336px 1fr;
    width: 100%;
}

.container .card .form .card-content .input-class label {
    grid-column: 1;
}

.container .card .form .card-content .input-class input,
.container .card .form .card-content .input-class select {
    border: 1px solid white;
    padding: 0.2rem 0.1rem;
    border-radius: 0.5rem;
    outline: none;
    transition: all 300ms ease-in-out;
}

.container .card .form .card-content .input-class input:focus,
.container .card .form .card-content .input-class select:focus,
.container .card .form .card-content .input-class input:hover,
.container .card .form .card-content .input-class select:hover {
    border: 1px solid blue;
}

.button-submit {
    padding: 0.8rem 0;
}

.error-message {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
    animation: errorMessage 5.5s;
    top: -10rem;
}

.error-message .error-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    margin-top: 0.5rem;
    padding: 0.8rem 0rem;
    background-color: rgba(97, 100, 100, 0.85);
    color: white;
    border-radius: 0.5rem;
}

.error-message .error-content span {
    font-weight: bolder;
    font-size: 18px;
}

@keyframes errorMessage {
    0% {
        display: none;
        top: -10rem;
    }
    30% {
        display: flex;
        top: 0rem;
    }
    100% {
        display: none;
        top: -10rem;
    }
}