<link rel="stylesheet" href="css/login.css">

<div class="container-login">

    <div class="row-container">
        <div class="content-row align-center">
            <img src="/img/login1.png" alt="">
        </div>
        <div class=" sign-up align-center flex-col">
            <label for="" id="name-app">SITEFODI</label>
            <div class="form-wrapper align-center">

                <form action="/users/login" method="POST" class="form login" enctype="multipart/form-data">
                    <div class="input-group align-center" id="avatar-div">
                        <img src="" id="avatar" alt="" width="160px" height="160px" onclick="show_options()">
                        <input type="hidden" name="avatar" id="avatar-file" value='/img/avatar-astr.png'>
                    </div>

                    <div class="input-group">
                        <i class="fas fa-at"></i>
                        <input type="email" name="email" id="email" placeholder="Correo Electronico" required>
                    </div>

                    <div class="input-group">
                        <i class="fas fa-unlock-alt"></i>
                        <input type="password" name="password" id="password" placeholder="Contraseña" required>
                    </div>

                    <button type="submit">
                        Ingresar
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>
<div class="container-avatars">
    <label for="" id="avatarTitle">ELIGE TU AVATAR</label>
    <div class="avatar-options align-center"></div>
</div>

<script src="/js/login.js"></script>