<link rel="stylesheet" href="/css/profile-therapist.css">

<div class="container">

    <div class="card">
        
        <labe id="title">Perfil del profesional</labe>

        <div class="form">

            <div class="card-header">
                <img src={{avatar}} alt="">
            </div>
        
            <div class="card-content">

                <div class="input-class">
                    <label for="" class="fullname">Nombre completo:</label>
                    <input type="text" name="fullname" id="fullname" value="{{user.name}}" disabled>
                </div>

                <div class="input-class">
                    <label for="">Número de cédula:</label>
                    <input type="text" name="cc" id="cc" value="{{user.cc}}" disabled>
                </div>

                <div class="input-class">
                    <label for="">Correo electronico: </label>
                    <input type="email" name="" id="" value="{{user.email}}" disabled>
                </div>


            </div>
        
        </div>
    
    </div>

</div>